<nav class="nav  justify-content-end bg-dark">
    <a class="nav-link text-light" href="/">Home</a>
    <a class="nav-link text-light" href="/artigos">Artigos</a>
    <a class="nav-link text-light" href="/novo-artigo">Novo Artigo</a>
</nav>